.announcement-bar{
  padding: 0.8rem 0;
  display: block;
}

.announcement-bar__wrapper{
  display: flex;
  align-items: center;
}

.announcement{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}