.featured-collection__header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.featured-collection__header  h2 {
  font-size: 45px;
}

.featured-collection{
  padding: 6rem 0;
}

.featured-collection__body{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 2rem;
}

.featured-collection__wrapper{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.featured-collection__view-all{
  border: 1px solid black;
  border-radius: 100px;
  padding: 1.2rem 4rem;
  background-color: transparent;
  transition: all 0.3s ease;
  align-self: center;
}
.featured-collection__view-all:hover{
  background-color: black;
  color: white;
}

.featured-collection__view-all__link{
  align-self: center;
}